@import url('reset.css');

body { background-color: black;}

p { color: white;}

section { margin: 100px auto;}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(banner.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 55px;
    border: 0px, 0px, 1px, 0px;
    border-bottom: 1px solid #33A8DB
}

.banner h1 {background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);

font-size: 2rem;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
text-transform: uppercase;
font-weight: 900px;
text-align: center;
}

.banner p { 
    margin: 20px 0px 25px;
    font-size: 20px;
    text-align: center;
}

.banner .banner-content { 
    text-align: center;
    margin: auto;
    width: 600px;
}

.banner .logo {
    background: #00000033;
border-radius: 50%;
width: 260px;
height: 260px;
margin: auto;
padding: 15px;
margin-bottom: 16px;
}

.banner .logo img { margin: auto;
    object-fit: contain;
 width: 100%;
 height: 100%;
}
 .banner .banner-content button {

text-transform: uppercase;
border-image: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
font-size: 1rem;
color:  #31A8DD;
letter-spacing: 4px;
font-weight: bold;
padding: 10px 32px;
border-image-slice: 10;
border-radius: 30px;
background-color: transparent;
}

h2 { font-size: 40px;
    color: #33A8DB;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 25px;
letter-spacing: 2px;
}

#couser-content { 
width: 800px;
text-align: center;
} 


#couser-content .modules-list {
    margin: 25px 0;
}
#course-content .modules-list .module  {
color: white;
 width: 530px;
 margin: 0 auto 24px;
 border: 1px solid #33A8DB;
 background-color: #252525;
 padding: 16px;
 border-radius: 100px;
 box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7); }
   
 #couser-content .modules-list .module span { 
    color: #33A8DB;
 }
 #transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
 }

 #transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;}
     
    #professional-challenges {
        text-align: center;
        width: 800px;
      }
      
      #professional-challenges img {
        margin: 32px 0;}
    
        footer {
            padding: 60px 0;
            text-align: center;
            background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
            border-top: 1px solid #33A8DB80;
          }

          footer .dio-logo {
            width: 300px;
          }
          footer a {
            color: #33A8DB;
            font-weight: bold;
            text-decoration: none;
          }